version: '3.7'
services:
    sut:
        build:
            context: .
            dockerfile: Dockerfile.test
        environment:
            POSTGRES_DB: cht
            POSTGRES_USER: cht
            POSTGRES_PASSWORD: cht_password
            COUCH2PG_USER: cht_couch2pg
            COUCH2PG_USER_PASSWORD: couch2pg_password
            DB_OWNER_GROUP: cht_analytics
            POSTGRES_HOST: localhost
        volumes:
            - cht-postgres-test:/var/lib/postgresql/data
        command: ["/bin/sh", "/tests/run_tests.sh"]

volumes:
    cht-postgres-test:
        name: cht-postgres-test
