name: Run cht-postgres tests and build image

on: [push, pull_request]

jobs:
  build-test-cht-postgres:
    name: Build and test cht-postgres
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        postgresql_version: [12,13]


    steps:
      - name: Get Docker Hub Username
        id: get-docker-hub-username
        run: echo '::set-output name=dockerhub_username::${{ secrets.CI_DOCKER_USERNAME }}'

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.CI_DOCKER_USERNAME }}
          password: ${{ secrets.CI_DOCKER_PASSWORD }}
        if: steps.get-docker-hub-username.outputs.dockerhub_username

      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Build
        env:
          BUILD_TARGET: test-build
        run: docker-compose build --build-arg postgresql_version=${{matrix.postgresql_version}}  cht-postgres

      - name: Test
        run: docker-compose run  cht-postgres /tests/tests.sh

      - name: Get Metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: medicmobile/cht-postgres
          labels: |
            org.opencontainers.image.title=cht-postgres
            org.opencontainers.image.description= Custom PostgreSQL image used with the CHT
            org.opencontainers.image.vendor=Medic
          flavor: |
            latest=auto
            suffix=${{matrix.postgresql_version}}



      - name: Build and Publish to Docker Hub
        uses: docker/build-push-action@v2
        with:
          context: .
          push:  ${{ github.event_name != 'pull_request' && github.ref == 'refs/heads/arch-v3' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
